<div class="navbar-footer-collapsed is-hidden-desktop">
  <div class="container">
    <a  href="javascript:void(0)" onClick="window.location.reload()">Ⓒ intimate.io</a>
    <a href="#" class="">Disclaimer</a>
    <a href="https://intimate.io/privacy-policy" target="_blank" class="">Privacy Policy</a>
    <a href="https://intimate.io/terms-of-use" target="_blank" class="">Terms of Use</a>
    <a href="https://intimate.io/cookie-policy" target="_blank" class="">Cookie Policy</a>
    <a href="#" class="">Contact Us</a>
  </div>
</div>

<nav class="navbar navbar-footer is-fixed-bottom">
  <div class="container">
      <div class="footer-navbar-start">
        <a href="javascript:void(0)" onClick="window.location.reload()"class="footer-navbar-item">Ⓒ intimate.io</a>
        <a href="#" class="footer-navbar-item hidden-sm">Disclaimer</a>
        <a href="https://intimate.io/privacy-policy" target="_blank" class="footer-navbar-item hidden-sm">Privacy Policy</a>
        <a href="https://intimate.io/terms-of-use" target="_blank" class="footer-navbar-item hidden-sm">Terms of Use</a>
        <a href="https://intimate.io/cookie-policy" target="_blank" class="footer-navbar-item hidden-sm">Cookie Policy</a>
        <a href="#" class="footer-navbar-item hidden-sm">Contact Us</a>
      </div>
  </div>

</nav>