<nav class="navbar navbar-header is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="javascript:void(0)" onClick="window.location.reload()">
        <img src="/images/intimate-io-horizontal-WHITE-600.png" alt="Intimate IO" width="160" height="auto">
      </a>
      <a role="button" class="navbar-burger false" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu false" id="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
          <div class="navbar-image-icon">
            <img src="/images/icons/question-mark-triangle.png">
          </div>
          <span class="navbar-span">Help</span>
        </a>

        <div class="navbar-item navbar-item-search has-dropdown is-hoverable">
          <div class="navbar-image-icon">
            <img src="/images/icons/search.png">
          </div>
          <span class="navbar-span">Search</span>
          <div class="navbar-dropdown">
            <form id="search-form" class="navbar-item no-design" action="/" method="GET">
              <input type="text" name="query" class="input" placeholder="Hit ENTER to search" autocomplete="off" />
            </form>
        </div>
      </div>

    </div>
  </div>
</nav>